
@font-face {
    font-family: "Gilroy ExtraBold";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Light";
    src: local("Gilroy Light"), local("Gilroy-Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("Open-Sans"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: local("Open Sans Light"), local("Open-Sans-Light"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
/*  min-width: 1440px;*/

  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: .01em;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  color: #000000;
}

a:hover {
  opacity: .6;
}

a:active {
  opacity: .3;
}

.dropdown-menu-item a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: .01em;
}

.basic-text {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: none;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
}

.main-nav {
background-color: #f7e296;
padding: 52px 60px 164px 60px;
position: relative;
}

.inner-page {
  padding: 52px 60px;
}

.main-header {
  margin-top: 40px;
}

.container {
  margin: 0 auto;
  width: 1160px;
  box-sizing: border-box;
}

.main-header-logo {
  position: absolute;
  top: -18px;
  left: 40px;
}

.top-nav,
.user-nav,
.shopping {
  display: flex;
  margin: 0;
  padding: 0;
}

.top-nav form {
  width: 540px;
  margin-bottom: 48px;
}

.user-nav {
  position: relative;
}

.user-nav a:first-child {
  margin-right: auto;
  padding-left: 27px;
}

.user-nav a:last-child {
  margin-left: auto;
}

.user-nav a:first-child::before {
  content:"";
  background: url("../img/user.svg") 0 0 no-repeat;
  position: absolute;
  width: 13px;
  height: 12px;
  left: 0;
  top: 9px;
}

.shopping {
  margin-left: auto;
}

.shopping-item:first-child {
  padding-left: 20px;
  position: relative;
}

.shopping-item:first-child::before {
  content:"";
  background: url("../img/compare.svg") 0 0 no-repeat;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 11px;
}

.shopping-item:last-child {
  margin-left: 41px;
  padding-left: 24px;
  position: relative;
}

.shopping-item:last-child::before {
  content:"";
  background: url("../img/cart.svg") 0 0 no-repeat;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 9px;
}

.site-nav {
  margin: 0;
  padding: 0;
  display: flex;
}

.site-nav-item:first-child {
  width: 540px;
}

.site-nav-item:nth-child(3) {
  margin-left: 36px;
  margin-right: auto;
}

.site-nav-item a {
  position: relative;
}

.site-nav-item:first-child > a::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: -30px;
  background: url("../img/plus.svg") 0 0 no-repeat;
  opacity: .3;
}

.site-nav-link:hover::after,
.site-nav-link:active::after {
  opacity: .3;
}

.dropdown-menu {
  margin: 0;
  padding: 30px 60px 0px 60px;
  position: absolute;
  width: 1040px;
  background-color: #f7e296;
  left: 0px;
  display: flex;
  visibility: hidden;
}

.site-nav-link:hover + .dropdown-menu,
.site-nav-link:focus + .dropdown-menu {
  visibility: visible;
}

.dropdown-menu:hover,
.dropdown-menu:focus {
  visibility: visible;
}

.dropdown-menu-1, 
.dropdown-menu-2,
.dropdown-menu-3 {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 58px;
}

.dropdown-menu-2 {
  padding-right: 78px;
}

.search-input {
  border: none;
  background: url("../img/search.svg") 0 8px no-repeat;
  background-color: #f7e296;
  width: 441px;
  margin-top: 5px;  
  transition: color, opacity;
  transition-duration: .15s;
  text-indent: 28px;
}

.search-input:focus {
  border-bottom: 2px solid #000;
  outline: 0; 
}

.search-input::placeholder {
  text-indent: 28px;
    opacity: .3
}

.search-input:hover::placeholder {
    opacity: .6
}

.search-button {
  line-height: 30px;
  padding: 8px 20px;
  cursor: pointer;
  transition: color, opacity;
  transition-duration: .15s;
  opacity: 0;
  color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  background-color: transparent;
  position: absolute;
  left: 414px;
  top: 41px;

}

.search-input:focus + .search-button,
.search-button:focus, 
.search-button:active {
  opacity: 1;
  color: inherit;
}

.catalog-heading {
  padding: 0px 60px;
  margin-bottom: 50px;
}

.catalog-heading h1 {
  margin-bottom: 28px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 40px;
}

.breadcrumbs-item a,
.breadcrumbs-current {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .01em;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-flex-container {
  display: flex;
}

.filter {
  background-color: #efefef;
  width: 32.5%;
}

.catalog {
  width: 67.5%;
}

.filter-item {
  display: flex;
}

.sort-by ul {
  background-color: rgba(0, 0, 0, 0.08);
  list-style: none;
  display: flex;
}

.sort-by-type {
  margin-right: auto;
}

.sort-by-arrows {
  margin-left: auto;
}

.sort-by-link {
  opacity: .3;
}

.sort-by-link:hover,
.pagination-item:hover {
  opacity: .6;
}

.sort-by-link:active,
.pagination-item:active {
  opacity: 1;
}

.sort-by-link-active,
.pagination-list .pagination-item-active {
  opacity: 1;
}



.catalog-item-price {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: .01em;
}

.main-nav input[placeholder] {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: none;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
}

.modal.contact-us input[placeholder],
.modal.contact-us textarea,
.sort-by a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: none;
}

.selection-heading,
.pagination-list {
  font-size: 16px;
  letter-spacing: .2em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.08);
  list-style: none;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.pagination-numbers {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  opacity: .3;  
  padding: 28px 14px;
  display: block;
}

.pagination-list .pagination-numbers {
  list-style: none;
}

.pagination-list .prev,
.pagination-list .next {
  display: block;
  padding: 28px;
}

.pagination-list .prev:hover,
.pagination-list .next:hover {
  background-color: #000000;
  opacity: .08;
  color: #000000;

}


.filter-item label {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: .01em;
}

.button-compare {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: .01em;
}

.site-nav,
.dropdown-menu,
.user-nav,
.shopping,
.slider-buttons,
.slider-list, 
.catalog-list,
.services-list,
.services-content,
.brands-list,
.about-us-list,
.footer-site-nav,
.footer-user-nav,
.footer-social,
.footer-shopping,
.breadcrumbs {
  list-style: none;
}

.slider-heading {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: .01em;

}

.slider-table th {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
}

.slider-table td {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

.slider-table th {
  padding-right: 80px;
}

.catalog-list {
  display: flex;
}

.catalog-list a { 
  text-transform: none;
  letter-spacing: .01em;
  display: block;
  width: 160px;
 }

.services {
  background-color: #e5e5e5;
  display: flex;
}

.services-list {
  width: 160px;
}

.services h3,
.catalog-heading h1 {
  font-size: 47px;
  line-height: 48px;
}

.brands-list li {
  opacity: .2;
  display: inline-block;
  width: 260px;
  height: 100px;
}

.brands-list li:hover img {
  opacity: 0;
  position: relative;
  left: 10px;
}

.brands-list li:first-child:hover {
  background-image: url("../img/logo-1-hover.jpg");
  opacity: 1; 
}

.brands-list li:nth-child(2):hover {
  background-image: url("../img/logo-2-hover.jpg");
  opacity: 1; 
}

.brands-list li:nth-child(3):hover {
  background-image: url("../img/logo-3-hover.jpg");
  opacity: 1; 
}  

.brands-list li:last-child:hover {
  background-image: url("../img/logo-4-hover.jpg");
  opacity: 1; 
}  

}
.about-us-list {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
}

.button {
  display: block;
  position: relative;
  width: 100%;
  transition: color .1s;
  text-align: center;
  background: none;
  color: #000000;
}

.button a:hover {
  color: #000000;
}

.button::before {
  content:"";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  transition: .2s ease;
}

.button:hover::before {
  height: 100%;
  padding: 5px 0;
} 

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-more {
  width: 220px; 
}

.btn-we {
  width: 260px; 
}

.services-button {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  padding: 5% 0;
  cursor: pointer;
  transition: color .1s;
  text-align: center;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  color: #000000;
  border: none;
}

.services-button::before {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 8px;
  transition: .2s ease;
  background-color: #f0c52e;
}

.services-button:hover::before,
.services-button:focus::before {
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.services-button:active {
  color: #be9c22;
}

.services-button-active {
  color: #f7e184;
}

.services-button-active::before,
.services-button-active:focus::before {
  content: "";
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 278px;
  height: 100%;
  background: #000;
}


.button-compare {
  display: block;
}

.footer-main,
.footer-main a {
  background-color: #464646;
  color: #ffffff;
}

.modal {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  z-index: 1;
}

.contact-us {
  width: 960px;
  height: 553px;
  padding: 95px 100px;
  box-sizing: border-box;
  position: relative;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us input[type="text"],
.contact-us input[type="email"] {
  background-color: #f2f2f2;
  border: none;
  padding: 18px;
  width: 360px;
  box-sizing: border-box;
}

.contact-us textarea {
  width: 760px;
  min-height: 156px;
  background-color: #f2f2f2;
  border: none;
  padding: 18px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.contact-us label {
  display: block;
  margin-bottom: 9px;
}

.modal-half-width {
  margin-bottom: 35px;
  width: 360px;
  box-sizing: border-box;
}

.form-button {
  width: 200px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  color: #000000;
}

.modal-map {
  background-image: url("../img/map-big.jpg");
  width: 960px;
  height: 559px;
  position: relative;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 883px;
  top: 22px;
  background: url("../img/modal-close.svg") 0 0 no-repeat;
  border: none;
  opacity: .5;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}