
@font-face {
    font-family: "Gilroy ExtraBold";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Light";
    src: local("Gilroy Light"), local("Gilroy-Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("Open-Sans"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: local("Open Sans Light"), local("Open-Sans-Light"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
/*  min-width: 1440px;*/

  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: .01em;
  background-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  color: #000000;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.button {
  color: rgb(0, 0, 0);
}

.footer-top-nav a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-top-nav a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-top-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle-nav a {
  color: rgba(255, 255, 255, 1);
}

.footer-middle-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.logout-link,
.footer-user-logout {
  color: rgba(0, 0, 0, 0.3)
}

.main-header-logo:hover[href],
.footer-main-logo:hover[href],
.academy-logo:hover[href] {
  opacity: 0.6;
}

.main-header-logo:active[href],
.footer-main-logo:active[hre],
.academy-logo:active[href] {
  opacity: 0.3;
}

.dropdown-menu-item a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: .01em;
}

.basic-text {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: none;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
}

.main-nav {
background-color: #f7e296;
padding: 52px 60px 164px 60px;
position: relative;
}

.inner-page {
  padding: 52px 60px;
}

.main-header {
  margin-top: 40px;
}

.container {
  margin: 0 auto;
  width: 1160px;
  box-sizing: border-box;
}

.site-nav,
.dropdown-menu,
.user-nav,
.shopping,
.slider-buttons-list,
.slider-list, 
.popular-list,
.services-list,
.services-content,
.brands-list,
.about-us-list,
.footer-site-nav,
.footer-user-nav,
.footer-social,
.footer-shopping,
.breadcrumbs,
.sort-by-type,
.sort-by-dir,
.catalog-list,
.pagination-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  position: absolute;
  top: -18px;
  left: 40px;
}

.top-nav,
.user-nav,
.shopping,
.footer-top-nav,
.footer-middle-nav,
.footer-bottom-nav,
.footer-site-nav,
.footer-user-nav,
.footer-shopping,
.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
}

.top-nav form {
  width: 540px;
  margin-bottom: 48px;
}

.user-nav {
  position: relative;
}

.user-nav a:first-child {
  margin-right: auto;
  padding-left: 27px;
}

.user-nav a:last-child {
  margin-left: auto;
}

.user-nav a:first-child::before {
  content:"";
  background: url("../img/user.svg") 0 0 no-repeat;
  position: absolute;
  width: 13px;
  height: 12px;
  left: 0;
  top: 9px;
}

.shopping {
  margin-left: auto;
}

.shopping-item:first-child,
.footer-shopping-item:first-child {
  margin-left: 44px;
  padding-left: 20px;
  position: relative;
}

.shopping-item:first-child::before {
  content:"";
  background: url("../img/compare.svg") 0 0 no-repeat;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 11px;
}

.shopping-item:last-child,
.footer-shopping-item:last-child {
  margin-left: 41px;
  padding-left: 24px;
  position: relative;
}

.footer-user-item {
  margin-left: 20px;
}

.shopping-item:last-child::before {
  content:"";
  background: url("../img/cart.svg") 0 0 no-repeat;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 9px;
}

.site-nav {
  margin: 0;
  padding: 0;
  display: flex;
}

.site-nav-item:first-child {
  width: 540px;
}

.site-nav-item:nth-child(3) {
  margin-left: 36px;
  margin-right: auto;
}

.site-nav-item a {
  position: relative;
  z-index: 3;
}

.dropdown::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: 0;
  background: url("../img/plus.svg") 0 0 no-repeat;
  opacity: .3;
}

.dropdown {
  padding-right: 30px;
  z-index: 3;
}

.dropdown-menu {
  margin: 0;
  padding: 26px 60px 35px 60px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f7e296;
  display: flex;
  visibility: hidden;
  z-index: 2;
}

.inner-menu {
  bottom: -110px;
}

.site-nav-link:hover + .dropdown-menu,
.site-nav-link:focus + .dropdown-menu {
  visibility: visible;
}

.dropdown-menu:hover,
.dropdown-menu:focus {
  visibility: visible;
}

.dropdown-menu-1, 
.dropdown-menu-2,
.dropdown-menu-3 {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 58px;
}

.dropdown-menu-2 {
  padding-right: 78px;
}

.search-input {
  border: none;
  background: url("../img/search.svg") 0 8px no-repeat;
  background-color: #f7e296;
  width: 356px;
  margin-top: 5px;  
  transition: color, opacity;
  transition-duration: .15s;
  text-indent: 28px;
  border: 2px solid transparent;
}

.search-input:focus {
  border-bottom: 2px solid #000;
  outline: 0; 
}

.search-input::placeholder {
  text-indent: 28px;
    opacity: .3
}

.search-input:hover::placeholder {
    opacity: .6
}

.search-button {
  line-height: 30px;
  padding: 8px 20px;
  cursor: pointer;
  transition: color, opacity;
  transition-duration: .15s;
  opacity: 0;
  color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  background-color: transparent;
  position: absolute;
  left: 413px;
  top: 43px;
}

.search-input:focus + .search-button,
.search-button:focus {
  opacity: 1;
  color: inherit;
}

.top-nav .search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.top-nav .search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-heading {
  padding: 0px 60px;
  margin-bottom: 50px;
}

.catalog-heading h1 {
  margin-bottom: 28px;
}

.slider {
  display: flex;
  position: relative;
}

.slider-item,
.slider-item-current {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 60px;
  position: relative;
  z-index: 1;
  margin-top: -110px;
  margin-bottom: 300px;
}


/* Отключалка слайдеров */

.slider-item {
  display: none;
}

.slider-item-current {
  display: flex;
}

.slider-image {
  width: 540px;
  flex-shrink: 0;
}

.slider-info {
  margin-top: 80px;
}

.slider-heading + .basic-text {
  margin-bottom: 42px;
  padding-right: 30px;
}

.slider-info p {
  margin: 0;
  padding: 0;
}

.slider-info .slider-heading {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: .01em;
  margin-bottom: 20px;
}

.slider-table th {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
}

.slider-table td {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

.slider-table th {
  padding-right: 70px;
}

.slider-buttons {
  order: 2;
  position: absolute;
  left: 980px;
  top: 200px;
  z-index: 2;
}

.slider-buttons li {
  display: inline-block;
}

.slider-button {
  width: 12px;
  height: 12px;
  background: url("../img/slider-button-empty.svg") 0 0 no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  cursor: pointer;
}

.slider-btn-active {
  background: url("../img/slider-button.svg") 0 0 no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 10px;
  right: -25px;
  background: url("../img/nav-arrow.svg") 0 0 no-repeat;
}

.breadcrumbs-item a,
.breadcrumbs-current {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .01em;
  color: rgba(0, 0, 0, 0.3);
}

.catalog {
  display: flex;
  margin-right: auto;
  position: relative;
}

.catalog-bg {
  flex-grow: 1;
}

.catalog-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 77px;
  width: 852px;  
  margin-right: auto;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -40px;
}

.catalog-item {
  margin-left: 40px;

  display: flex;
  flex-direction: column;
}

.catalog-item h3 {
  width: 70%;
  word-wrap: break-word;
}

.catalog-description {
  display: flex;
  order: 1;
  justify-content: space-between;
  align-items: baseline;
}

.filter-item {
  display: flex;
}


.catalog-filter {
  padding-left: 60px;
  padding-right: 70px;
  width: 328px;
  margin-right: 72px;
  margin-left: auto;
  position: relative;
}

.catalog-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter label {
  display: block;
}

.filter-bg {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.08);
  position: relative;
  margin-right: 70px;
}

.catalog::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.08);
}

.sort-by {
  list-style: none;
  display: flex;
  align-items: baseline;
  font-size: 0;
  width: 100%;
  margin-bottom: 70px;
  position: relative;

}

.sort-by .selection-heading {
  margin-right: 50px;
}

.sort-by-type {
  margin-right: auto;
}

.sort-by-type li {
  display: inline-block;
  margin-right: 30px;
}

.sort-by-dir li {
  display: inline-block;
  font-size: 0;
}

.sort-by-dir a {
  margin: 0;
  padding: 0;
  margin-left: 19px;
}

.sort-by-dir {
  margin-left: auto;
}

.sort-by-dir-up {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 100px;
  background: url("../img/icon-up-dir.svg") 0 0 no-repeat;
}

.sort-by-dir-down {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 100px;
  background: url("../img/icon-down-dir.svg") 0 0 no-repeat;
}

.sort-by-dir a {
  opacity: 0.2;
}

.sort-by-dir a[href]:hover {
  opacity: 0.4;
}

.sort-by-dir .sort-by-dir-active,
.sort-by-dir a[href]:active {
  opacity: 1;
}

.sort-by-link {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-link[href]:hover,
.pagination-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-by-link[href]:active,
.pagination-item:active {
  color: rgba(0, 0, 0, 1);
}

.sort-by .sort-by-link-active,
.pagination-list .pagination-item-active {
  color: rgba(0, 0, 0, 1);
}

.catalog-item-title {
  text-transform: none;
  letter-spacing: .01em;
  font-size: 18px;
}

.catalog-item-price {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: .01em;
  margin: 0;
  padding: 0;
}

.main-nav input[placeholder] {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: none;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
}

.modal.contact-us input[placeholder],
.modal.contact-us textarea,
.sort-by a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: none;
}

.selection-heading,
.pagination-list {
  font-size: 16px;
  letter-spacing: .2em;
  text-transform: uppercase;
  list-style: none;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.08);
    width: 100%;    
}

.pagination-numbers {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  color: rgba(0, 0, 0, 0.3);  
  padding: 28px 14px;
  display: block;
}

.pagination-list .prev,
.pagination-list .next {
  display: block;
  padding: 28px;
}

.pagination-list .prev:hover,
.pagination-list .next:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 1);
}

.pagination-list .prev:active,
.pagination-list .next:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-item label {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: .01em;
}

.button-compare {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: .01em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.5);
}

.button-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}


.popular-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;  
}

.popular-list a { 
  text-transform: none;
  letter-spacing: .01em;
  display: block;
  width: 160px;
  position: relative;
 }

.popular-item::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: -195px;
  background-color: rgba(240, 197, 46, 0.5);
}

.popular-item a::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: -195px;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.popular-item:first-child a::after {
  background-image: url("../img/popular-1.svg");
}

.popular-item:nth-child(2) a::after {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 100%;
}

.popular-item:nth-child(3) a::after {
  background-image: url("../img/popular-3.svg");
}

.popular-item:nth-child(4) a::after {
  background-image: url("../img/popular-4.svg");
}

.popular-item:nth-child(5) a::after {
  background-image: url("../img/popular-5.svg");
}

.popular-item:last-child a::after {
  background-image: url("../img/popular-6.svg");
}

.popular-list a:hover {
  color: rgba(0, 0, 0, 1);
 }

.popular-item a:active,
.popular-item:active::after {
  opacity: 0.3;
 }

.popular-list .popular-item:hover::before, 
.popular-list .popular-item:active::before {
  background-color: rgba(240, 197, 46, 1);
 }

.services {
  background-color: #e5e5e5;
  min-height: 288px;
  margin-bottom: 94px;
}

.services-main {
  display: flex;
}

.services-list {
  margin-top: -20px;
  padding-right: 117px;
  margin-right: 117px;
  position: relative;
}

.services-list li {
  margin-bottom: 23px;
}

.services-list::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  background-color: black;
  right: -6px;
  margin-top: -20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 64px 0;
}

.services-content {
  margin-top: -28px;
}

.services-content h3,
.services-content p {
  margin: 0;
  bottom: 0;
  padding-right: 330px;
}

.services-content h3 {
  margin-bottom: 20px;
}

.services-content p {
  margin-bottom: 42px;
}

.catalog-heading h1,
.about h2,
.services h3 {
  font-size: 47px;
  line-height: 48px;
}

.services-item {
  display: none;
}

.services-item-current {
  display: block;
}

.brands {
  margin-bottom: 93px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
}

.brands-list a {
  opacity: .2;
  display: block;
  width: 260px;
  height: 100px;
}

.brands-list a:hover img {
  opacity: 0;
  position: relative;
  left: 10px;
}

.brands-list .logo-1:hover {
  background-image: url("../img/logo-1-hover.jpg");
  opacity: 1; 
}

.brands-list .logo-2:hover {
  background-image: url("../img/logo-2-hover.jpg");
  opacity: 1; 
}

.brands-list .logo-3:hover {
  background-image: url("../img/logo-3-hover.jpg");
  opacity: 1; 
}  

.brands-list .logo-4:hover {
  background-image: url("../img/logo-4-hover.jpg");
  opacity: 1; 
}  

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
  padding-top: 50px;
}

.about h2,
.about p {
  margin: 0;
  padding: 0;
}

.about h2 {
  margin-bottom: 52px;
}

.about-us p {
  margin-bottom: 29px;
}

.contacts p {
  margin-bottom: 42px;
}

.about p:last-of-type {
  margin-bottom: 70px;
}

.about h2::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: black;
  top: -50px;
  left: 0;
}

.about-us {
  padding-right: 100px;
  position: relative;
}

.contacts {
  position: relative;
}

.about-us-list {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
  padding: 0;
  padding-left: 35px;
  margin-bottom: 60px;
}

.about-us-list li {
  padding: 0;
  margin: 0;
  position: relative;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: url("../img/about-marker.svg");
  top: 50%;
  transform: translateY(-50%);
  left: -34px;
  margin-bottom: 
}

.footer-main {
  background-color: #464646;
  position: relative;
  padding: 67px 0;
}

.footer-main p {
  color: #ffffff;
}

.footer-main-logo {
  position: absolute;
}

.footer-top-nav {
  justify-content: flex-end;
  margin-bottom: 35px;
}

.footer-nav-item {
  margin-right: 35px;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.tel {
  margin-left: 164px;
}

.footer-middle-nav {  
  margin-bottom: 54px;
  align-items: baseline;
}

.academy-logo {
  margin-left: auto;
}

.footer-social { 
  margin-left: auto;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 23px;
}

.social-button.fb {
  background: url("../img/fb.svg") 0 0 no-repeat;
}

.social-button.instagram {
  background: url("../img/instagram.svg") 0 0 no-repeat;
}

.social-button.twitter {
  background: url("../img/twitter.svg") 0 0 no-repeat;
}

.breadcrumbs a,
.social-button {
  color: #000000;
  opacity: 0.3;
}  

.breadcrumbs a:hover,
.social-button:hover {
  opacity: 0.6;
} 

.breadcrumbs a:active,
.social-button:active {
  opacity: 0.1;
}   

.button {
  display: block;
  position: relative;
  width: 100%;
  transition: color .1s;
  text-align: center;
  background: none;
  color: #000000;
}

.button::before {
  content:"";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  transition: .2s ease-in-out;
}

.button:hover::before {
  height: 100%;
  padding: 8px 0;
} 

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-more {
  width: 220px;
  margin-bottom: 54px; 
}

.btn-we {
  width: 260px; 
}

.catalog-item .btn-cart {
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
}

.services-button {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  padding: 5% 0;
  cursor: pointer;
  transition: color .1s;
  text-align: center;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  color: #000000;
  border: none;
  min-width: 160px;
  box-sizing: border-box;
}

.services-button::before {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 8px;
  transition: .2s ease-in-out;
  background-color: #f0c52e;
}

.services-button:hover::before,
.services-button:focus::before {
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.services-button:active {
  color: #be9c22;
}

.services-button-active {
  color: #f7e184;
}

.services-button-active::before,
.services-button-active:focus::before,
.services-button-active:hover::before {
  content: "";
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 278px;
  height: 100%;
  background: #000;
}

.button-compare {
  display: block;
}

.modal {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  z-index: 1;
}

.contact-us {
  width: 960px;
  height: 553px;
  padding: 95px 100px;
  box-sizing: border-box;
  position: relative;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us input[type="text"],
.contact-us input[type="email"] {
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
  padding: 18px;
  width: 360px;
  box-sizing: border-box;
}

.contact-us textarea {
  width: 760px;
  min-height: 156px;
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
  padding: 18px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.contact-us input:focus,
.contact-us textarea:focus {
  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.contact-us input:hover,
.contact-us textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.contact-us input:invalid,
.contact-us textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.contact-us label {
  display: block;
  margin-bottom: 9px;
}

.modal-half-width {
  margin-bottom: 35px;
  width: 360px;
  box-sizing: border-box;
}

.form-button {
  width: 200px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  color: #000000;
  cursor: pointer;
}

.modal-map {
  background-image: url("../img/map-big.jpg");
  width: 960px;
  height: 559px;
  position: relative;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 883px;
  top: 22px;
  background: url("../img/modal-close.svg") 0 0 no-repeat;
  border: none;
  opacity: .5;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}